#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.next{
  float:right;;
}
.timer{
  box-shadow: 0 0 1px 0 #DFDFDF;
  border-radius: 20px 20px 20px 20px;
  float:left;
  padding:0.7rem;
  margin-top: 1rem;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.btn-option:hover{
  transition: all 0.4s;
 transform: translateX(1rem);
}
.options{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.answer{
  background-color: greenyellow !important;
  color:white;
  pointer-events: none;
}
.click{
  transform: translateX(1rem);
}
  .wrong{
    background-color: red;
    color:white !important;
  pointer-events: none;
  }
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
